/*============*/
/*  main
/*============*/
.main{
    /* margin: auto; */
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.horizontal-line--setting{
    border: 1px solid #E8E8E8;
}


.top-panel{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-panel{
    /*Check in media*/
    width: 540px;
    height: 400px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 5px;
}

.image-panel__images{
    object-fit: cover;
    object-position: center;
}


.image-panel__left-button{
    
}

.image-panel__right-button{
    
}

.image-panel__button-setting{
    min-width: 36px;
    min-height: 36px;
}

.order-panel{
    width: 600px;
    height: 400px;
}

.order-panel__order-name{
    
}

.order-panel__order-cat-mrt{
    
}

.order-panel__order-info{
    
}

@media (min-width: 1200px){
    .main{
        margin: auto;
        width: 1200px;
    }
}

@media (min-width: 360px) and (max-width: 1200px){
    .main{
        width: 100%;
    }
}

@media (max-width: 360px){
    .main{
        width: 100%;
    }
}