/*
    header
*/
.header{
    width: 100%;
    height: 34px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
}

.header__navigation{
    display: flex;
    align-items: center;
}

.header__navigation-left{
    flex: none;
    height: 34px;

    font-weight: 700;
    font-size: 30px;
    font-family: "Noto Sans TC";
    color: #448899;
    line-height: 34px;

    display: flex;
    align-items: center;
}

.header__navigation-right{
    flex: auto;
    width: 175px;
    height: 34px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__navigatio-right-button--setting{
    font-weight: 500;
    font-size: 16px;
    font-family: "Noto Sans TC";
    line-height: 13.3px;

    border-width : 0;
    background-color: #FFFFFF;

    display: flex;
    align-items:center;
    justify-content:center;
}

.header__navigation-right-button1{
    width: 84px;
    height: 34px;
    padding: 10px;
}

.header__navigation-right-button2{
    width: 91px;
    height: 34px;
    padding: 10px;
}

/*
    hero-image
*/
.hero-image{
    height: 320px;
    background-image: url("../figure/[orig]\ welcome\ image.png");
    background-position: top left;
    background-size: cover;

    display: flex;
    align-items:center;
    justify-content:center;
}

.hero-image__slogan{
    height: 149px;
    padding: 10px;
}

.hero-image__slogan-content{
    position: relative;
}

.hero-image__slogan-text{
    width: 100%;
    height: 78px;

    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #F8F8F8;
}

.hero-image__slogan-text-line1{
    height: 41px;

    font-size: 28px;
    line-height: 24px;
}

.hero-image__slogan-text-line2{
    height: 22px;
    margin-top: 15px;

    font-size: 16px;
    line-height: 13.3px;
}

.hero-image__search{
    width: 100%;
    height: 46px;
    position: absolute;
    top: 103px;
    
    display: flex;
    align-items:center;
    justify-content:left;
}

.hero-image__search-input{
    width: 392px;
    height: 40px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(170, 187, 204, 1);

    text-indent: 15px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #757575;
    line-height: 13.3px;
}

.hero-image__search-button{
    width: 60px;
    height: 100%;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 0px;
    background-color: #448899;
    background-image: url("../figure/icon_search.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

/*
    main
*/
.main{
    height: 966px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main__mrt-list-bar{
    height: 50px;

    padding-bottom: 20px;

    display: flex;
    align-items:center;
    justify-content:center;
}

.main__mrt-list-bar__left-button{
    background-image: url("../figure/arrow\ left.png");
}

.main__mrt-list-bar__right-button{
    background-image: url("../figure/arrow\ right.png");
}

.main__mrt-list-bar__button-setting{
    width: 50px;
    height: 50px;

    border-width : 0;

    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.main__mrt-list-bar__main-content{
    display: flex;
    align-items: center;
}

.main__attractions{
    
}

/*
    footer
*/
.footer{
    width: 100%;
    height: 104px;

    background-color: #757575;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__textbox{
    width: 224px;
    height: 14px;

    padding: 5px;

    font-weight: 700;
    font-size: 14px;
    font-family: "Noto Sans TC";
    line-height: 13.3px;

    color: #FFFFFF;
}

@media (min-width: 1200px) and (max-width: 1920px){
    .header__navigation{
        width: 1200px;
    }
    .hero-image__slogan{
        width: 1180px;
    }
    .main__mrt-list-bar{
        width: 1200px;
    }
}

@media (max-width: 1200px){
    .header__navigation{
        width: 100%;
    }
    .hero-image__slogan{
        width: 100%;
    }
    .main{
        width: 100%;
    }
}

@media (max-width: 360px){
    .hero-image__slogan{
        width: 340px;
    }
    .main{
        width: 100%;
    }
    .footer{
        display: none;
    }
}