.body{
    margin: 0px;
}

/*============*/
/*  header*/
/*============*/
.header{
    width: 100%;
    height: 54px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
}

/* navigation*/
.header__navigation{
    display: flex;
    align-items: center;
}

.header__navigation-left{
    flex: none;
    height: 34px;

    cursor: pointer;

    font-weight: 700;
    font-size: 30px;
    font-family: "Noto Sans TC";
    color: #448899;
    line-height: 34px;

    display: flex;
    align-items: center;
}

.header__navigation-right{
    flex: auto;
    width: 175px;
    height: 34px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__navigatio-right-button--setting{
    font-weight: 500;
    font-size: 16px;
    font-family: "Noto Sans TC";
    line-height: 13.3px;

    border-width : 0;
    background-color: #FFFFFF;

    display: flex;
    align-items:center;
    justify-content:center;
}

.header__navigation-right-button1{
    width: 104px;
    height: 54px;
    box-sizing: border-box;
    padding: 10px;
}

.header__navigation-right-button2{
    width: 111px;
    height: 54px;
    box-sizing: border-box;
    padding: 10px;
}

/*============*/
/*  hero-image
/*============*/
.hero-image{
    height: 320px;
    background-image: url("../figure/[orig]\ welcome\ image.png");
    background-position: top left;
    background-size: cover;

    display: flex;
    align-items:center;
    justify-content:center;
}

/* slogan */
.hero-image__slogan{
    height: 169px;
    box-sizing: border-box;
    padding: 10px;
}

.hero-image__slogan-content{
    position: relative;
}

.hero-image__slogan-text{
    width: 100%;
    height: 78px;

    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #F8F8F8;
}

.hero-image__slogan-text-line1{
    height: 41px;

    font-size: 28px;
    line-height: 24px;
}

.hero-image__slogan-text-line2{
    height: 22px;
    margin-top: 15px;

    font-size: 16px;
    line-height: 13.3px;
}

/* search */
.hero-image__search{
    width: 100%;
    height: 46px;
    position: absolute;
    top: 103px;
    
    display: flex;
    align-items:center;
    justify-content:left;
}

.hero-image__search-input{
    width: 392px;
    height: 40px;

    border:0 ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(170, 187, 204, 1);

    text-indent: 15px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #757575;
    line-height: 13.3px;
}

.hero-image__search-button{
    width: 60px;
    height: 100%;
    
    border-width: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #448899;
    background-image: url("../figure/icon_search.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

/*============*/
/*  main
/*============*/
.main{
    margin: auto;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* mrt */
.main__mrt-list-bar{
    height: 70px;

    box-sizing: border-box;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items:center;
    justify-content: space-between
}

.main__mrt-left-button{
    background-image: url("../figure/arrow\ left.png");
}

.main__mrt-right-button{
    background-image: url("../figure/arrow\ right.png");
}

.main__mrt-button-setting{
    width: 50px;
    height: 50px;

    border-width : 0;

    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.main__mrt-board{
    width: 1100px;

    display : flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    position: relative;
    /* overflow-y: hidden; */
}

.main__mrt-element{
    max-width: 96px;
    height: 24px;
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    overflow-wrap: break-word;

    cursor: pointer;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #666666;
    line-height: 13.3px;

    display: flex;
    align-items: center;
}

/* attraction */
.main__attraction-board{
    /* gap: 30px; */
    gap: 30px 2.5%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__attraction-element{
    flex-grow: 1;
    position: relative;

    border: 1px solid;
    border-radius: 5px;
    border-color: #E8E8E8;
    background-color: #E8E8E8;
}

.main__attraction-image{
    width: 100%;
    height: 100%;
    position: absolute;

    /* Should check use this or object-fit: contain; */
    object-fit: cover;
    object-position: center center;
}

.main__attraction-name{
    width: 100%;
    /* height: 40px; */
    max-height: 40px;
    position: absolute;
    bottom: 45px;
    box-sizing: border-box;
    padding: 10px;
    
    opacity: 0.65;
    background-color: #000000;

    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #FFFFFF;
    line-height: 13.3px;

    display: flex;
    text-align: center;
    align-items: center;
}

.main__attraction-info{
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    padding: 10px;

    background-color: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC";
    color: #757575;
    line-height: 13.3px;

    display: flex;
    align-items:center;
    justify-content: space-between
}

/*============*/
/*  footer
/*============*/
.footer{
    width: 100%;
    height: 104px;

    background-color: #757575;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__textbox{
    width: 234px;
    height: 24px;
    box-sizing: border-box;
    padding: 5px;

    font-weight: 700;
    font-size: 14px;
    font-family: "Noto Sans TC";
    line-height: 13.3px;

    color: #FFFFFF;
}

@media (min-width: 1200px) and (max-width: 1920px){
    .header__navigation{
        width: 1200px;
    }
    .hero-image__slogan{
        width: 1180px;
    }
    .main{
        margin: auto;
        width: 1200px;
    }
    .main__attraction-element{
        /* min-width: 270px;
        max-width: 270px; */
        width: 270px;
        height: 242px;
        /* min-width: 22%;
        max-width: 22%;
        aspect-ratio: 270 / 242; */
    }
    .main__attraction-image{
        height: 197px;
    }
}

@media (min-width: 360px) and (max-width: 1200px){
    .header__navigation{
        width: 100%;
    }
    .hero-image__slogan{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .main__attraction-element{
        /* min-width: 270px;
        max-width: 270px; */
        width: 270px;
        height: 242px;
        /* min-width: 22%;
        max-width: 22%;
        aspect-ratio: 270 / 242; */
    }
}

@media (max-width: 360px){
    .header__navigation{
        width: 100%;
    }
    .hero-image__slogan{
        width: 340px;
    }
    .main{
        width: 100%;
    }
    .main__attraction-element{
        /* min-width: 322px;
        max-width: 322px; */
        width: 322px;
        height: 280px;
    }
    .main__attraction-image{
        height: 235px;
    }
}