{% extends 'base.html' %}
{%block title%}景點資訊{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
{%endblock%}
{%block main%}
    <hr class="horizontal-line">
    <div class="top-panel">
        <!-- images -->
        <div class="top-panel__images">1</div>
        <!-- name,category,order group -->
        <div class="top-panel__order-group">
            <!-- name -->
            <div>2</div>
            <!-- category at mrt -->
            <div>3</div>
            <!-- order -->
            <div>4</div>
        </div>
    </div>
    <hr class="horizontal-line">
    <div>
        <!-- description -->
        <div>5</div>
        <!-- address -->
        <div>6</div>
        <!-- transport -->
        <div>7</div>
    </div>
{%endblock%}
{%block script%}
    <script src="../static/js/attraction.js"></script>
{%endblock%}