{% extends 'base.html' %}
{%block title%}景點資訊{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
{%endblock%}
{%block main%}
    <hr class="horizontal-line--setting">
    <main class="main">
        <div class="top-panel">
            <!-- images -->
            <div class="image-panel">
                <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" class="image-panel__images">
                <div class="image-panel__left-button image-panel__button-setting"></div>
                <div class="image-panel__right-button image-panel__button-setting"></div>
                <div></div>
            </div>
            <!-- name,category,order group -->
            <div class="order-panel">
                <!-- name -->
                <div>2</div>
                <!-- category at mrt -->
                <div>3</div>
                <!-- order -->
                <div>4</div>
            </div>
        </div>
        <hr class="horizontal-line--setting">
        <div>
            <!-- description -->
            <div>5</div>
            <!-- address -->
            <div>6</div>
            <!-- transport -->
            <div>7</div>
        </div>
    </main>
{%endblock%}
{%block script%}
    <script src="../static/js/attraction.js"></script>
{%endblock%}