<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    {%block css%} {%endblock%}
</head>
<body class="body">
    <header class="header">
        <nav class="navigation">
            <div class="navigation__left-title">台北一日遊</div>
            <div class="navigation__right-option">
                <button class="navigation__right-option-order navigation__right-button--setting">預定行程</button>
                <div>&nbsp&nbsp</div>
                <button class="navigation__right-option-sign navigation__right-button--setting">登入/註冊</button>
            </div>
        </nav>
    </header>
    <div class="sign-container" id="sign-container__sign-in">
        <div class="sign-container__sign-box">
            <div class="sign-box__bar"></div>
            <div class="sign-box__title">登入會員帳號</div>
            <div class="sign-box__close-button"></div>
            <div class="sign-box__form">
                <input type="email" class="sign-box__form-input sign-box__form-input-text" placeholder="輸入電子信箱" name="email" required>
                <input type="password" class="sign-box__form-input sign-box__form-input-text" placeholder="輸入密碼" name="password" required>
                <button type="submit" class="sign-box__form-button">登入帳戶</button>
            </div>
            <div class="sign-box__message">還沒有帳戶?點此註冊</div>
        </div>
    </div>
    <div class="sign-container" id="sign-container__sign-up">
        <div class="sign-container__sign-box">
            <div class="sign-box__bar"></div>
            <div class="sign-box__title">註冊會員帳號</div>
            <div class="sign-box__close-button"></div>
            <div class="sign-box__form">
                <input type="text" class="sign-box__form-input sign-box__form-input-text" placeholder="輸入姓名" name="name" required>
                <input type="email" class="sign-box__form-input sign-box__form-input-text" placeholder="輸入電子郵件" name="email" required>
                <input type="password" class="sign-box__form-input" placeholder="輸入密碼" name="password" required>
                <button type="submit" class="sign-box__form-button">註冊新帳戶</button>
                <div class="sign-box__message">已經有帳戶了?點此登入</div>
            </div>
        </div>
    </div>
    {%block main%} {%endblock%}
    <footer class="footer">
        <div class="footer__textbox">
            COPYRIGHT © 2021 台北一日遊
        </div>
    </footer>
    <script src="../static/js/base.js"></script>
    {%block script%} {%endblock%}
</body>
</html>