{% extends 'base.html' %}
{%block title%}預定資訊{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
{%endblock%}
{%block main%}
    <hr class="horizontal-line--basic-setting horizontal-line--top-setting">
    <main class="main">
        <div class="book-panel__title">
            <div class="book-panel__title--text book-panel__title--top">您好，XXX，待的預定行程</div>
        </div>
        <div class="book-panel__group">
            <div>
                圖片
            </div>
            <div>
                <div>台北一日遊</div>
                <div>日期</div>
                <div>時間</div>
                <div>費用</div>
                <div>地點</div>
                <div>刪除icon</div>
            </div>
        </div>
        <hr>
        <div class="book-panel__title">
            <div class="book-panel__title--text book-panel__title--other">您的連絡資訊</div>
        </div>
        <div class="book-panel__group">
            <div class="book-panel__input-row book-panel__input-row--text">
                <label for="book-name" class="book-panel__text--bold">姓名</label>
                <input type="text" id="book-name">
            </div>
            <div class="book-panel__input-row book-panel__input-row--text">
                <label for="book-email" class="book-panel__text--bold">信箱</label>
                <input type="text" id="book-email">
            </div>
            <div class="book-panel__input-row book-panel__input-row--text">
                <label for="book-cellphone" class="book-panel__text--bold">手機號碼</label>
                <input type="text" id="book-cellphone">
            </div>
            <div>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <hr>
        <div class="book-panel__title">
            <div class="book-panel__title--text book-panel__title--other">信用卡付款資訊</div>
        </div>
        <div class="book-panel__group">
            <div class="book-panel__input-row book-panel__input-row--text">
                <label for="card-code" class="book-panel__text--bold">卡片號碼</label>
                <input type="password" name="text" id="card-code">
            </div>
            <div class="book-panel__input-row book-panel__input-row--text">
                <label for="card-date" class="book-panel__text--bold">過期時間</label>
                <input type="date" name="text" lang="en-us" min="YYYY-MM" max="YYYY-MM" id="card-date">
            </div>
            <div class="book-panel__input-row book-panel__input-row--text">
                <label for="card-password" class="book-panel__text--bold">驗證密碼</label>
                <input type="password" name="text" placeholder="CVV" id="card-password">
            </div>
        </div>
        <hr>
        <div>
            <div>總價</div>
            <div>確認並付款</div>
        </div>
    </main>
{%endblock%}
{%block script%}
    <script src="../static/js/booking.js"></script>
{%endblock%}
