{% extends 'base.html' %}
{%block title%}預定資訊{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
    <!-- some style of div input box -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        form {
            padding: 40px;
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        }
        .tappay-field-focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
        .has-error .tappay-field-focus {
            border-color: #843534;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        }
        .has-success .tappay-field-focus {
            border-color: #2b542c;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
        }
    </style>
{%endblock%}
{%block main%}
    <hr class="horizontal-line--basic-setting horizontal-line--top-setting">
    <main class="main">
        <!-- <div class="book-panel__title">
            <div class="book-panel__text--title book-panel__title--top">您好，，待的預定行程如下:</div>
        </div>
        <div class="book-panel__group">
            <div class="book-panel__group-attraction">
                <div class="group-attraction__image-box">
                    <img>
                    <div>圖片</div>
                </div>
                <div class="group-attraction__info-box">
                    <div class="info-box__title">台北一日遊</div>
                    <div class="info-box__row">
                        <div class="info-box__row-lable book-panel__text--big">日期&nbsp;:&nbsp;</div>
                        <div class="info-box__row-content">123</div>
                    </div>
                    <div class="info-box__row">
                        <div class="info-box__row-lable book-panel__text--big">時間&nbsp;:&nbsp;</div>
                        <div class="info-box__row-content">123</div>
                    </div>
                    <div class="info-box__row">
                        <div class="info-box__row-lable book-panel__text--big">費用&nbsp;:&nbsp;</div>
                        <div class="info-box__row-content">123</div>
                    </div>
                    <div class="info-box__row">
                        <div class="info-box__row-lable book-panel__text--big">地點&nbsp;:&nbsp;</div>
                        <div class="info-box__row-content">123</div>
                    </div>
                    <div class="info-box__row"></div>
                </div>
                <div class="book-panel__group-delete-icon"></div>
            </div>
        </div>
        
        <hr class="horizontal-line--middle-setting">
        <div class="book-panel__title">
            <div class="book-panel__text--title book-panel__title--other">您的連絡資訊</div>
        </div>
        <div class="book-panel__group book-panel__group--setting-gap">
            <div class="book-panel__input-row book-panel__text--small">
                <label for="book-name" class="book-panel__text--big">聯絡姓名&nbsp;:&nbsp;</label>
                <input type="text" id="book-name" class="book-panel__input-box">
            </div>
            <div class="book-panel__input-row book-panel__text--small">
                <label for="book-email" class="book-panel__text--big">聯絡信箱&nbsp;:&nbsp;</label>
                <input type="text" id="book-email" class="book-panel__input-box">
            </div>
            <div class="book-panel__input-row book-panel__text--small">
                <label for="book-cellphone" class="book-panel__text--big">手機號碼&nbsp;:&nbsp;</label>
                <input type="text" id="book-cellphone" class="book-panel__input-box">
            </div>
            <div class="book-panel__text--big">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>

        <hr class="horizontal-line--middle-setting">
        <div class="book-panel__title">
            <div class="book-panel__text--title book-panel__title--other">信用卡付款資訊</div>
        </div>
        <div class="book-panel__group book-panel__group--setting-gap">
            <div class="book-panel__input-row book-panel__text--small">
                <label for="card-number" class="book-panel__text--big">卡片號碼&nbsp;:&nbsp;</label>
                <input type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="**** **** **** ****" id="card-number" class="book-panel__input-box">
            </div>
            <div class="book-panel__input-row book-panel__text--small">
                <label for="card-date" class="book-panel__text--big">過期時間&nbsp;:&nbsp;</label>
                <input type="text" id="card-date" placeholder="MM / YY" class="book-panel__input-box">
            </div>
            <div class="book-panel__input-row book-panel__text--small">
                <label for="card-ccv" class="book-panel__text--big">驗證密碼&nbsp;:&nbsp;</label>
                <input type="password" placeholder="CVV" id="card-ccv" class="book-panel__input-box">
            </div>
        </div>
        <hr class="horizontal-line--middle-setting">
        <div class="book-panel__group">
            <div class="book-panel__price-row">
                <div class="book-panel__input-row">
                    <div class="book-panel__text--big">總價&nbsp;:&nbsp;</div>
                    <div class="book-panel__text--big">新台幣</div>
                    <div class="book-panel__text--big" id="money-selector">2000</div>
                    <div class="book-panel__text--big">元</div>
                </div>
                <button class="book-panel__button">確認訂購並付款</button>
            <div>
        </div> -->
        <!-- <form>
            <div class="book-panel__input-row book-panel__text--small card-number-group">
                <label for="card-number" class="book-panel__text--big">卡號</label>
                <div class="book-panel__input-box" id="card-number"></div>
                <div id="card-type"></div>
            </div>
            <div class="book-panel__input-row book-panel__text--small card-date-group">
                <label for="card-date" class="book-panel__text--big">卡片到期日</label>
                <div class="book-panel__input-box" id="card-date"></div>
            </div>
            <div class="book-panel__input-row book-panel__text--small card-ccv-group">
                <label for="card-ccv" class="book-panel__text--big">卡片後三碼</label>
                <div class="book-panel__input-box" id="card-ccv"></div>
            </div>

            <button type="submit" class="btn btn-default">Pay</button>
        </form>
        <pre class="jumbotron text-left" id="curl">
        </pre> -->
    </main>
{%endblock%}
{%block script%}
    <!-- control whether user can type in the div box -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
    <script src="../static/js/booking.js"></script>
    <script src="../static/js/tappay.js"></script>
{%endblock%}
