{% extends 'base.html' %}
{%block title%}台北一日遊{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{%endblock%}
{%block main%}
    <div class="hero-image">
        <div class="hero-image__slogan">
            <div class="hero-image__slogan-content">
                <div class="hero-image__slogan-text">
                    <div class="hero-image__slogan-text-line1">輕鬆享受台北一日悠閒</div>
                    <div class="hero-image__slogan-text-line2">探索每個角落，體驗城市的深度旅遊行程</div>
                </div>
                <div class="hero-image__search">
                    <input type="text" name="searchAttraction" class="hero-image__search-input" placeholder="輸入景點名稱查詢">
                    <button type="submit" class="hero-image__search-button"></button>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="main__mrt-list-bar">
            <button type="submit" class="main__mrt-left-button main__mrt-button-setting"></button>
            <div class="main__mrt-board"></div>
            <button type="submit" class="main__mrt-right-button main__mrt-button-setting"></button>
        </div>
        <div class="main__attraction-board">
            <!-- <div class="main__attraction-element">
                <img src="https://www.travel.taipei//d_upload_ttn//sceneadmin//image//A0//B0//C1//D356//E17//F185//b1a2de52-4110-4355-a9fb-bf1d0eb627c9.JPG" class="main__attraction-image">
                <div class="main__attraction-name">111</div>
                <div class="main__attraction-info">
                    <div>aaa</div>
                    <div>bbb</div>
                </div>
            </div> -->
        </div>
    </main>
{%endblock%}
{%block script%}
    <script src="../static/js/index.js"></script>
{%endblock%}
