<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav>
            <div>台北一日遊</div>
            <div>
                <div>預定行程</div>
                <div>登入/註冊</div>
            </div>
        </nav>
        <div>
            <!-- background image -->
            <div></div>
        </div>
    </header>
    <main>
        <!-- mrt list bar virtual scroll -->
        <div></div>
        <!-- attractions -->
        <div></div>
    </main>
    <script src="../static/js/index.css"></script>
</body>
</html>
