{% extends 'base.html' %}
{%block title%}訂單資訊{%endblock%}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../static/css/thankyou.css">
{%endblock%}
{%block main%}
    <main class="main">
        <div class="order-info__title">
            <div class="order-info__text--title order-info__title--top">感謝您的訂購</div>
        </div>
        <!-- <div class="order-info__title order-info__text--small">
            <div class="order-info__title--top">您的訂單編號</div>
        </div> -->
    </main>
{%endblock%}
{%block script%}
    <script src="../static/js/thankyou.js"></script>
    <script src="../static/js/order.js"></script>
{%endblock%}
